<h1>Account Information</h1>

  <p>User ID: <%= @user.id %></p>
  <p>First Name: <%= @user.f_name %></p>
  <p>Last Name: <%= @user.l_name %></p>
  <p>Username: <%= @user.username %></p>
  <p>Password: <%= @user.password %></p>
  <p>Email: <%= @user.email %></p>

<br />
<button><a href="/users/<%= @user.id %>/edit" style="text-decoration:none">Edit Information</a></button>
<br />
<br />

  <button id="deleteProfile">Delete</button>
  <form id="deletePForm" action="/users/<%= @user.id %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  </form>
